In [1]:
import pandas as pd
import mysql.connector as sql

In [2]:
connector = sql.connect(user='rfamro', password=None, port=4497, database='Rfam', host='mysql-rfam-public.ebi.ac.uk')

In [3]:
df = pd.read_sql_query('SELECT * FROM taxonomy', connector)

In [4]:
df.head()

,ncbi_id,species,tax_string,tree_display_name,align_display_name
0,7,Azorhizobium caulinodans,Bacteria; Proteobacteria; Alphaproteobacteria;...,Azorhizobium_caulinodans,Azorhizobium_caulinodans[7]
1,9,Buchnera aphidicola,Bacteria; Proteobacteria; Gammaproteobacteria;...,Buchnera_aphidicola,Buchnera_aphidicola[9]
2,11,[Cellvibrio] gilvus,Bacteria; Actinobacteria; Actinobacteridae; Ac...,[Cellvibrio]_gilvus,[Cellvibrio]_gilvus[11]
3,14,Dictyoglomus thermophilum,Bacteria; Dictyoglomi; Dictyoglomales; Dictyog...,Dictyoglomus_thermophilum,Dictyoglomus_thermophilum[14]
4,17,Methylophilus methylotrophus,Bacteria; Proteobacteria; Betaproteobacteria; ...,Methylophilus_methylotrophus,Methylophilus_methylotr..[17]

In [5]:
df.shape

(749742, 5)