### Practice Workbook For Class 2

Your Mission:  Fix the following cells to remove error message.

In [5]:
x = 'hello world'
print(x)

hello world

In [7]:
y = 33
print(y)

33

In [9]:
a = 23
b = '21'
print(str(a) + b)
print(a + int(b))

2321
44

Adjust the following cell so that it outputs 91

In [11]:
print(7*13)

91

Adjust the following cell so that it returns the value for every single statement.

In [74]:
print(3*8)
print(24*7)
print(4 // 3)
print("Hello")
print('something else')
print(5%3)
xxx = 'test variable'
'something else'

24
168
1
Hello
something else
2

'something else'

In [75]:
xxx

'test variable'

Run the following code cell, and notice its output.

In [19]:
var1 = 38
var2 = 'A string'
print("The value of var1: ", var1, "The value of var2: ", var2)
print("The value of var1: {0}, The value of var2: {1}".format(var1,var2))

The value of var1:  38 The value of var2:  A string
The value of var1: 38, The value of var2: A string

Fix the following two code blocks so that they don't return any errors.

In [21]:
var3 = 37
var4 = 'A variable'
print("The value of var1: ", var1, "The value of var2: ", var2)

The value of var1:  38 The value of var2:  A string

In [23]:
print("The value of var1: ", var1, "The value of var2: ", var2)

The value of var1:  38 The value of var2:  A string

In [79]:
f"The variable value: {var1}"

'The variable value: 38'

In [84]:
print("There are the 'quotes'")
print('There are the "quotes"')
print('''There are the "quotes" or 'quotes' ''')

There are the 'quotes'
There are the "quotes"
There are the "quotes" or 'quotes'

Next, observe the following code block, and notice the results

In [24]:
string_var = 'my string variable'
string_var.upper()

'MY STRING VARIABLE'

Now, do the following:
 - Assign a variable to a value that's a string
 - Pass it into the dir() function, and observe the results
 - These are all the string methods that you can use on this variable
 - Find 3 that are unfamiliar to you, and see if you can find out what they do
 - If you need help, you can find the reference here:  https://docs.python.org/release/2.5.2/lib/string-methods.html
 - **hint**: avoid the methods that look like this: _______method-name_______ they're generally used internally and not meant to be used publicly

In [26]:
str_var = 'this is a string'
dir(str_var)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [28]:
??str_var.partition

In [29]:
str_var.partition('a')

('this is ', 'a', ' string')

In [30]:
??str_var.isascii

In [31]:
str_var.isascii()

True

In [32]:
??str_var.swapcase

In [35]:
str_var = 'This is a string, ANOTHER TEST'
str_var.swapcase()

'tHIS IS A STRING, another test'

In [36]:
?str_var.title

In [37]:
str_var.title()

'This Is A String, Another Test'

In [39]:
??str_var.zfill

In [48]:
str_var.zfill(len(str_var) + 10)

'0000000000This is a string, ANOTHER TEST'

In [49]:
??str_var.translate

In [57]:
??str_var.maketrans

In [63]:
intab = "agoe"
outtab = "æ905"
trantab = str_var.maketrans(intab, outtab)

str_var.lower().translate(trantab)

'this is æ strin9, æn0th5r t5st'

In [65]:
??str_var.join

In [78]:
str_var.join('123')

'1This is a string, ANOTHER TEST2This is a string, ANOTHER TEST3'

In [77]:
str_var.join([' 1 --','-- 2 --','-- 3 '])

' 1 --This is a string, ANOTHER TEST-- 2 --This is a string, ANOTHER TEST-- 3 '