In [111]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

df = pd.read_csv('../data/bikeshare.csv', index_col='datetime', parse_dates=True)

In [114]:
df.index

DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 01:00:00',
               '2011-01-01 02:00:00', '2011-01-01 03:00:00',
               '2011-01-01 04:00:00', '2011-01-01 05:00:00',
               '2011-01-01 06:00:00', '2011-01-01 07:00:00',
               '2011-01-01 08:00:00', '2011-01-01 09:00:00',
               ...
               '2012-12-19 14:00:00', '2012-12-19 15:00:00',
               '2012-12-19 16:00:00', '2012-12-19 17:00:00',
               '2012-12-19 18:00:00', '2012-12-19 19:00:00',
               '2012-12-19 20:00:00', '2012-12-19 21:00:00',
               '2012-12-19 22:00:00', '2012-12-19 23:00:00'],
              dtype='datetime64[ns]', name='datetime', length=10886, freq=None)

In [56]:
df['count']

datetime
2011-01-01 00:00:00     16
2011-01-01 01:00:00     40
2011-01-01 02:00:00     32
2011-01-01 03:00:00     13
2011-01-01 04:00:00      1
2011-01-01 05:00:00      1
2011-01-01 06:00:00      2
2011-01-01 07:00:00      3
2011-01-01 08:00:00      8
2011-01-01 09:00:00     14
2011-01-01 10:00:00     36
2011-01-01 11:00:00     56
2011-01-01 12:00:00     84
2011-01-01 13:00:00     94
2011-01-01 14:00:00    106
2011-01-01 15:00:00    110
2011-01-01 16:00:00     93
2011-01-01 17:00:00     67
2011-01-01 18:00:00     35
2011-01-01 19:00:00     37
2011-01-01 20:00:00     36
2011-01-01 21:00:00     34
2011-01-01 22:00:00     28
2011-01-01 23:00:00     39
2011-01-02 00:00:00     17
2011-01-02 01:00:00     17
2011-01-02 02:00:00      9
2011-01-02 03:00:00      6
2011-01-02 04:00:00      3
2011-01-02 06:00:00      2
                      ...
2012-12-18 18:00:00    525
2012-12-18 19:00:00    353
2012-12-18 20:00:00    268
2012-12-18 21:00:00    168
2012-12-18 22:00:00    132
2012-12-18 23:00:00     81
2012-12-19 00:00:00     41
2012-12-19 01:00:00     15
2012-12-19 02:00:00      3
2012-12-19 03:00:00      5
2012-12-19 04:00:00      7
2012-12-19 05:00:00     31
2012-12-19 06:00:00    112
2012-12-19 07:00:00    363
2012-12-19 08:00:00    678
2012-12-19 09:00:00    317
2012-12-19 10:00:00    164
2012-12-19 11:00:00    200
2012-12-19 12:00:00    236
2012-12-19 13:00:00    213
2012-12-19 14:00:00    218
2012-12-19 15:00:00    237
2012-12-19 16:00:00    334
2012-12-19 17:00:00    562
2012-12-19 18:00:00    569
2012-12-19 19:00:00    336
2012-12-19 20:00:00    241
2012-12-19 21:00:00    168
2012-12-19 22:00:00    129
2012-12-19 23:00:00     88
Name: count, Length: 10886, dtype: int64

In [43]:
X = df.loc[:, df.columns != 'count']
y = df['count']

weather_map = {
    'Clear Skies':       4,
    'Partly Cloudy':     3,
    'Light Storms/Rain': 2,
    'Heavy Storms/Rain': 1
}

X.weather = X.weather.map(weather_map)

num_cols = X.select_dtypes(include=np.number).columns.tolist()
X[num_cols] = (X[num_cols] - X[num_cols].mean()) / X[num_cols].std()

C:\Users\Jonat\Anaconda\lib\site-packages\pandas\core\frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [46]:
X = pd.get_dummies(X, drop_first=True)

In [47]:
X.head()

,holiday,workingday,weather,temp,atemp,humidity,windspeed,season_Spring,season_Summer,season_Winter
datetime,,,,,,,,,,
2011-01-01 00:00:00,-0.171483,-1.460605,0.660148,-1.333599,-1.092687,0.993167,-1.567682,1,0,0
2011-01-01 01:00:00,-0.171483,-1.460605,0.660148,-1.438841,-1.182367,0.941206,-1.567682,1,0,0
2011-01-01 02:00:00,-0.171483,-1.460605,0.660148,-1.438841,-1.182367,0.941206,-1.567682,1,0,0
2011-01-01 03:00:00,-0.171483,-1.460605,0.660148,-1.333599,-1.092687,0.681399,-1.567682,1,0,0
2011-01-01 04:00:00,-0.171483,-1.460605,0.660148,-1.333599,-1.092687,0.681399,-1.567682,1,0,0

In [58]:
lreg.fit(X, y)
lreg.score(X, y)

0.2752503232099429

In [59]:
lreg.coef_

array([ -1.43782677,  -1.33393753,  -1.68074593,  62.03831631,
        24.65228382, -54.25768584,   4.42002657,  37.77071609,
        34.97948629, 102.97920297])

In [50]:
X2 = X[['weather', 'temp', 'atemp', 'humidity']]
lreg.fit(X2, y)
lreg.score(X2, y)

0.24307517355292274

### Option 1

In [33]:
X.columns

Index(['workingday', 'temp', 'atemp', 'humidity', 'windspeed'], dtype='object')

In [53]:
import statsmodels.api as sm

mod = sm.OLS(y, X)
results = mod.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  count   R-squared:                       0.618
Model:                            OLS   Adj. R-squared:                  0.617
Method:                 Least Squares   F-statistic:                     1756.
Date:                Wed, 31 Jul 2019   Prob (F-statistic):               0.00
Time:                        19:34:58   Log-Likelihood:                -70900.
No. Observations:               10886   AIC:                         1.418e+05
Df Residuals:                   10876   BIC:                         1.419e+05
Df Model:                          10
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
holiday          -1.1097      1.618     -0.686      0.493      -4.280       2.061
workingday       -3.2006      1.618     -1.978      0.048      -6.373      -0.028
weather           3.6677      1.738      2.110      0.035       0.261       7.075
temp            171.3369      9.402     18.224      0.000     152.907     189.766
atemp           -23.8145      9.380     -2.539      0.011     -42.200      -5.429
humidity        -41.4575      1.867    -22.205      0.000     -45.117     -37.798
windspeed        -0.4762      1.709     -0.279      0.781      -3.827       2.874
season_Spring   250.0825      3.745     66.779      0.000     242.742     257.423
season_Summer   164.4902      3.199     51.413      0.000     158.219     170.762
season_Winter   277.0593      3.258     85.043      0.000     270.673     283.445
==============================================================================
Omnibus:                     1790.724   Durbin-Watson:                   0.397
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3355.760
Skew:                           1.030   Prob(JB):                         0.00
Kurtosis:                       4.775   Cond. No.                         12.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [57]:
lreg.coef_

array([ -2.91057674,  23.16714273,  45.5475192 , -55.18486553])

In [63]:
prices = pd.read_csv('../data/sac_re_cat.csv')

In [66]:
prices = prices.set_index('sale_date')

In [67]:
prices.head()

,street,city,zip,state,beds,baths,sq__ft,type,price
sale_date,,,,,,,,,
Wed May 21 00:00:00 EDT 2008,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,59222
Wed May 21 00:00:00 EDT 2008,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,68212
Wed May 21 00:00:00 EDT 2008,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,68880
Wed May 21 00:00:00 EDT 2008,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,69307
Wed May 21 00:00:00 EDT 2008,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,81900

In [70]:
prices.zip = prices.zip.astype('category')

In [76]:
transformed = prices.groupby('zip').zip.transform('count')

In [78]:
prices['zip'] = np.where(transformed < 25, 'Other', prices['zip'])

In [79]:
prices['zip'].value_counts()

Other    558
95648     72
95823     61
95828     45
95758     44
95835     37
95838     37
95757     36
95624     34
95843     33
95621     28
Name: zip, dtype: int64

In [80]:
prices.columns

Index(['street', 'city', 'zip', 'state', 'beds', 'baths', 'sq__ft', 'type',
       'price'],
      dtype='object')

In [81]:
prices.head()

,street,city,zip,state,beds,baths,sq__ft,type,price
sale_date,,,,,,,,,
Wed May 21 00:00:00 EDT 2008,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,59222
Wed May 21 00:00:00 EDT 2008,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,68212
Wed May 21 00:00:00 EDT 2008,2796 BRANCH ST,SACRAMENTO,Other,CA,2,1,796,Residential,68880
Wed May 21 00:00:00 EDT 2008,2805 JANETTE WAY,SACRAMENTO,Other,CA,2,1,852,Residential,69307
Wed May 21 00:00:00 EDT 2008,6001 MCMAHON DR,SACRAMENTO,Other,CA,2,1,797,Residential,81900

In [91]:
# define X & y
X = prices.loc[:, ['beds', 'baths', 'sq__ft']]
y = prices['price']
# standardize data
X = (X - X.mean()) / X.std()
# fit model
lreg.fit(X, y)
lreg.score(X, y)

0.18203162472419276

In [90]:
# define X & y
X           = prices.loc[:, ['zip', 'beds', 'baths', 'sq__ft']]
y           = prices['price']
# standardize data
num_cols    = X.select_dtypes(include=np.number).columns.tolist()
X[num_cols] = (X[num_cols] - X[num_cols].mean()) / X[num_cols].std()
X           = pd.get_dummies(X, drop_first=True)
# fit model
lreg.fit(X, y)
lreg.score(X, y)

0.27115491268070757

In [89]:
# define X & y
X           = prices.loc[:, ['type', 'beds', 'baths', 'sq__ft']]
y           = prices['price']
# standardize data
num_cols    = X.select_dtypes(include=np.number).columns.tolist()
X[num_cols] = (X[num_cols] - X[num_cols].mean()) / X[num_cols].std()
X           = pd.get_dummies(X, drop_first=True)
# fit model
lreg.fit(X, y)
lreg.score(X, y)

0.19932054564173063

In [93]:
# define X & y
X           = prices.loc[:, ['type', 'zip', 'beds', 'baths', 'sq__ft']]
y           = prices['price']
# standardize data
num_cols    = X.select_dtypes(include=np.number).columns.tolist()
X[num_cols] = (X[num_cols] - X[num_cols].mean()) / X[num_cols].std()
X           = pd.get_dummies(X, drop_first=True)
# fit model
lreg.fit(X, y)
lreg.score(X, y)

0.2953326582199547

In [92]:
prices.head()

,street,city,zip,state,beds,baths,sq__ft,type,price
sale_date,,,,,,,,,
Wed May 21 00:00:00 EDT 2008,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,59222
Wed May 21 00:00:00 EDT 2008,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,68212
Wed May 21 00:00:00 EDT 2008,2796 BRANCH ST,SACRAMENTO,Other,CA,2,1,796,Residential,68880
Wed May 21 00:00:00 EDT 2008,2805 JANETTE WAY,SACRAMENTO,Other,CA,2,1,852,Residential,69307
Wed May 21 00:00:00 EDT 2008,6001 MCMAHON DR,SACRAMENTO,Other,CA,2,1,797,Residential,81900

In [94]:
prices['prediction'] = lreg.predict(X)

In [95]:
prices.head()

,street,city,zip,state,beds,baths,sq__ft,type,price,prediction
sale_date,,,,,,,,,,
Wed May 21 00:00:00 EDT 2008,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,59222,113093.695557
Wed May 21 00:00:00 EDT 2008,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,68212,112733.338098
Wed May 21 00:00:00 EDT 2008,2796 BRANCH ST,SACRAMENTO,Other,CA,2,1,796,Residential,68880,224866.407864
Wed May 21 00:00:00 EDT 2008,2805 JANETTE WAY,SACRAMENTO,Other,CA,2,1,852,Residential,69307,225494.823964
Wed May 21 00:00:00 EDT 2008,6001 MCMAHON DR,SACRAMENTO,Other,CA,2,1,797,Residential,81900,224877.629580

In [99]:
mae = np.mean(np.abs(prices['price'] - prices['prediction']))

In [100]:
mae

86416.30313899221

In [102]:
mse = np.mean((prices['price'] - prices['prediction'])**2)

In [110]:
prices.index

Index(['Wed May 21 00:00:00 EDT 2008', 'Wed May 21 00:00:00 EDT 2008',
       'Wed May 21 00:00:00 EDT 2008', 'Wed May 21 00:00:00 EDT 2008',
       'Wed May 21 00:00:00 EDT 2008', 'Wed May 21 00:00:00 EDT 2008',
       'Wed May 21 00:00:00 EDT 2008', 'Wed May 21 00:00:00 EDT 2008',
       'Wed May 21 00:00:00 EDT 2008', 'Wed May 21 00:00:00 EDT 2008',
       ...
       'Thu May 15 00:00:00 EDT 2008', 'Thu May 15 00:00:00 EDT 2008',
       'Thu May 15 00:00:00 EDT 2008', 'Thu May 15 00:00:00 EDT 2008',
       'Thu May 15 00:00:00 EDT 2008', 'Thu May 15 00:00:00 EDT 2008',
       'Thu May 15 00:00:00 EDT 2008', 'Thu May 15 00:00:00 EDT 2008',
       'Thu May 15 00:00:00 EDT 2008', 'Thu May 15 00:00:00 EDT 2008'],
      dtype='object', name='sale_date', length=985)

In [115]:
df.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
datetime,,,,,,,,,
2011-01-01 00:00:00,Spring,0,0,Clear Skies,9.84,14.395,81,0.0,16
2011-01-01 01:00:00,Spring,0,0,Clear Skies,9.02,13.635,80,0.0,40
2011-01-01 02:00:00,Spring,0,0,Clear Skies,9.02,13.635,80,0.0,32
2011-01-01 03:00:00,Spring,0,0,Clear Skies,9.84,14.395,75,0.0,13
2011-01-01 04:00:00,Spring,0,0,Clear Skies,9.84,14.395,75,0.0,1

In [119]:
df['hour'] = df.index.hour

In [120]:
df.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,hour
datetime,,,,,,,,,,
2011-01-01 00:00:00,Spring,0,0,Clear Skies,9.84,14.395,81,0.0,16,0
2011-01-01 01:00:00,Spring,0,0,Clear Skies,9.02,13.635,80,0.0,40,1
2011-01-01 02:00:00,Spring,0,0,Clear Skies,9.02,13.635,80,0.0,32,2
2011-01-01 03:00:00,Spring,0,0,Clear Skies,9.84,14.395,75,0.0,13,3
2011-01-01 04:00:00,Spring,0,0,Clear Skies,9.84,14.395,75,0.0,1,4