### Lesson 12 Lab:  Feature Engineering the Bikeshare Dataset

### Step 1:  Load in the Dataset

In [1]:
pwd

'/Users/wzhang/GeneralAssembly/DAT-06-24/class material/Unit 3/Lesson 12/lab'

In [3]:
import pandas as pd

In [42]:
df = pd.read_csv('../../data/bikeshare.csv',parse_dates=True)

In [12]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
0,2011-01-01 00:00:00,Spring,0,0,Clear Skies,9.84,14.395,81,0.0,16
1,2011-01-01 01:00:00,Spring,0,0,Clear Skies,9.02,13.635,80,0.0,40
2,2011-01-01 02:00:00,Spring,0,0,Clear Skies,9.02,13.635,80,0.0,32
3,2011-01-01 03:00:00,Spring,0,0,Clear Skies,9.84,14.395,75,0.0,13
4,2011-01-01 04:00:00,Spring,0,0,Clear Skies,9.84,14.395,75,0.0,1

### Step 2: Transform Your Categorical Variables (If Necessary)

In [13]:
df.weather.value_counts()

Clear Skies          7192
Partly Cloudy        2834
Light Storms/Rain     859
Heavy Storms/Rain       1
Name: weather, dtype: int64

In [43]:
weather_map = {
    'Clear Skies':       4,
    'Partly Cloudy':     3,
    'Light Storms/Rain': 2,
    'Heavy Storms/Rain': 1
}

df.weather = df.weather.map(weather_map)

### Step 3:  Extract Units of Time That You Feel Might Be Useful as New Columns

You can find all of the necessary ones here:  https://pandas.pydata.org/pandas-docs/version/0.24/reference/series.html#time-series-related

Or if you're using an index:  https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DatetimeIndex.html

In [16]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
0,2011-01-01 00:00:00,Spring,0,0,4,9.84,14.395,81,0.0,16
1,2011-01-01 01:00:00,Spring,0,0,4,9.02,13.635,80,0.0,40
2,2011-01-01 02:00:00,Spring,0,0,4,9.02,13.635,80,0.0,32
3,2011-01-01 03:00:00,Spring,0,0,4,9.84,14.395,75,0.0,13
4,2011-01-01 04:00:00,Spring,0,0,4,9.84,14.395,75,0.0,1

In [44]:
from datetime import datetime

In [45]:
datetime.strptime('2011-01-01 00:00:00','%Y-%m-%d %H:%M:%S')

datetime.datetime(2011, 1, 1, 0, 0)

In [46]:
df['hour'] = pd.to_datetime(df['datetime'],format='%Y-%m-%d %H:%M:%S').dt.hour

In [49]:
df.head()

,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,hour,season_Spring,season_Summer,season_Winter
0,0,0,4,9.84,14.395,81,0.0,16,0,1,0,0
1,0,0,4,9.02,13.635,80,0.0,40,1,1,0,0
2,0,0,4,9.02,13.635,80,0.0,32,2,1,0,0
3,0,0,4,9.84,14.395,75,0.0,13,3,1,0,0
4,0,0,4,9.84,14.395,75,0.0,1,4,1,0,0

### Step 4: Re-Run Your Model With the New Info, and Grab the Metric of Your Choice:  R_squared, MAE, or MSE

In [39]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [48]:
df = pd.get_dummies(df.loc[:,df.columns!='datetime'], drop_first = True)

In [51]:
feature_cols = ['weather', 'temp','humidity','windspeed', 'hour','season_Spring','season_Summer','season_Winter']
X = df[feature_cols]
y = df['count']

In [52]:
lr.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [53]:
lr.score(X,y)

0.34363228355218434

### (Bonus):  Create A New Column Called 'Daytime' That Returns 0 or 1 Depending on If It's Between 7 A.M. or 8 P.M. When The Ride Happens

### Check To See If Your Model Improved

### (Bonus):  Analyze Your Residuals

##### 1).  Pull A Histogram

##### 2). Evaluate the Mean and Standard Deviation of Your Residuals

##### 3).  Use Seaborn's lmplot to Your Errors Against the Predicted Value:  Is There An Inherent Pattern?